@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    <br />
    <p>Este aplicativo es una prueba técnica desarrollada por Jesus Estevez, para la posición de .NET Developer de la UCE.</p>
    <p>Favor tener en cuenta que este aplicativo hace estrictamente solo lo que se solicita en <a target="_blank" href="https://doc.clickup.com/8480464/p/h/82tpg-1820/2b771bd38f4d810">Enlace Prueba Técnica</a>.</p>
</div>